{% extends "meta.html" %}
{% block title %} Welcome {% endblock %}

{% block content %}
    

<div id="layoutError">
    <div id="layoutError_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="text-center mt-4">
                            {% for result in results %}
                            <p>{{result.name}}
                                <a class="btn btn-secondary" href="{{result.url}}"> Download.</a>
                            </p>
                        {% endfor %}
                            <a href="{% url 'new_index' %}">
                                <i class="fas fa-arrow-left me-1"></i>
                                Return to Dashboard
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    
</div>

{% endblock %}